body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out;
  background: #DFC2F2;
	background: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --gris: rgb(0, 0, 0);
  --white: #fff;
}
